h3 {
	text-weight: bold;
	font-size: 16px;
}

.exames-table* {
	border: 1px solid black;
}

.exames-table {
	border-collapse: collapse;
	width: 60%;
}

.exames-tabel > thead > tr > th {
	height: 30px;
}

.button-update {
	background-color: #008CBA;
	color: white;
}

.button-delete {
	background-color: red;
	color: white;
}

td {
	text-align: center;
}